/* Estilos para espaçamento entre as seções */
.section-spacing {
  margin-bottom: 3rem; /* Ajuste conforme necessário */
}

/* Estilos para espaçamento interno (se necessário) */
.section-inner-spacing {
  margin-bottom: 3rem; /* Ajuste conforme necessário */
}
.dracula {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px; /* Reduzi o espaçamento para uma aparência mais moderna */
  padding: 20px; /* Adicionei padding para melhor espaçamento interno */
  font-family: "Arial", sans-serif; /* Alterei a fonte para uma mais profissional */
  font-size: 1.2em; /* Ajustei o tamanho da fonte para uma melhor legibilidade */
  background-color: #0a0b0f;
  color: #f8f8f2; /* Cor do texto para contraste com o fundo */
  border-radius: 10px; /* Bordas arredondadas para um visual mais suave */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adicionei uma sombra sutil para destacar o elemento */
}

/* Media Query para telas menores */
@media (max-width: 768px) {
  .dracula {
    margin: 20px; /* Reduzi ainda mais o espaçamento em telas menores */
    font-size: 1em; /* Ajustei o tamanho da fonte para melhor adaptação em telas pequenas */
  }
}
