/* Estilos Gerais */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  color: white;
  position: relative;
  width: 100%;
}

/* Logo */
.logo-direction {
  display: flex;
  justify-content: flex-start; /* Alinha o logo à esquerda */
  align-items: center;
  width: 100%;
}

.logo {
  width: 200px;
  height: auto;
  max-width: 100%;
  max-height: 80px;
}

/* Estilos para o menu */
.navbar {
  width: 100%;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center; /* Centraliza os itens no meio */
  align-items: center;
  width: 100%;
}

.menu li {
  cursor: pointer;
  transition: color 0.3s;
}

/* Flex para posicionar o último item na direita */
.menu li:last-child {
  margin-left: auto; /* Empurra o último item para a direita */
}

.menu li:hover {
  color: #4a484d;
}

/* Estilo para quando o menu estiver aberto */
.menu.open {
  display: flex; /* O menu ficará visível quando a classe "open" for adicionada */
}

/* Estilos para o botão Login */
.menu .btn-login {
  text-decoration: none;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu .btn-login:hover {
  color: #4a484d;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Botão hambúrguer */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 10;
}

.hamburger div {
  width: 30px;
  height: 4px;
  background-color: white;
  border-radius: 5px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  /* Ajustes na estrutura da header */
  .header {
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 475px;
  }

  .logo-direction {
    justify-content: space-between;
    width: 600vh;
  }

  .logo {
    width: 260px;
    height: auto;
    max-width: 100%;
    max-height: 60px;
    padding: 8px;
  }

  /* Ajustes na navbar e menu */
  .navbar {
    width: 100%;
  }

  .menu {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 0;
    display: none; /* Menu começa oculto */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu.open {
    display: flex; /* Menu visível quando a classe "open" é aplicada */
  }

  .menu li {
    font-size: 16px;
    padding: 5px 0;
  }

  /* Exibir o botão hambúrguer ao lado do logo */
  .hamburger {
    display: flex;
    margin-left: 20px; /* Espaçamento entre o logo e o hambúrguer */
  }
}
